.u-hidden {
    display: none !important;
}

.u-block {
    display: block !important;
}

.u-flex {
    display: flex !important;
}

.u-inline-block {
    display: inline-block !important;
}

.u-inline-flex {
    display: inline-flex !important;
}

.u-margin-top-small {
    margin-top: 0.5rem !important;
}

.u-margin-right-small {
    margin-right: 0.5rem !important;
}

.u-margin-left-small {
    margin-left: 4px !important;
}

.u-font-small {
    font-size: 0.8em !important;
}

.u-font-large-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    display: block;
}

.u-font-large-icon.opacity-medium {
    opacity: 0.6;
}

.u-font-large-icon.opacity-low {
    opacity: 0.5;
}

.u-text-secondary-small {
    font-size: 0.9rem;
    color: var(--text-secondary);
    margin-top: 0.5rem;
    display: block;
}

.u-color-error {
    color: var(--error);
}

.u-loading-spinner-container {
    margin: 20px auto;
}

.u-overflow-auto {
    overflow: auto !important;
}

.u-no-overflow {
    overflow: hidden !important;
}

.particle {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
}